@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

body {
    background-color: #ecf4fe;
}

img {
    padding-right: 8px;
}

#lorem-1, #r-iframe {
    color: grey;
}

iframe {
    border-radius: 50px;
}

.bi-book-fill, .bi-people-fill {
    color: gray;
}

.bi-star-fill {
    color: #0d6efd;
}

.bi-arrow-right {
    border-radius: 20px;
}

#card-btn-arrow {
    color: black;
    background-color: #808080;
}

#card-btn-arrow:hover {
    color: white;
    background-color: #0d6efd;
    outline-color: #0d6efd;
}

.card {
    width: 25.1rem;
}

@media screen and (min-width:552px) {
    .card {
        width: 100%;
    }
    .card img {
        width: 100%;
    }
}

@media screen and (min-width:768px) {
    .card {
        width: 48%;
    }
    .card img {
        width: 100%;
    }
}

@media screen and (min-width:991px) {
    .card {
        width: 30%;
    }
    .card img {
        width: 100%;
    }
}

@media screen and (min-width:992px) {
    .card {
        width: 30%;
    }
    .card img {
        width: 100%;
    }
}